.navbar {
    
    background-color: #F2E9D0;
    /* background-color: #c0c0fc; */
    background-color: #C9C9C9; 
    background-color: #A3A096; 
    padding: 1rem 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar-brand img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.header-title {
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}

.header-title .line {
    display: block;
}

.d-flex {
    align-items: center;
}

.me-2 {
    margin-right: 10px;
}

.button {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

/* 처음 Main 헤더 Css*/

.header-wrapper {
    background-color: #C9C9C9;  /* 헤더 배경색 */
    padding: 20px 0;
    margin-top: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 120px; /* 로고 이미지 크기 */
    margin-right: 10px;
}

.headertitle {
    max-width: 600px; /* 타이틀 컨테이너 최대 너비 */
    margin: 0 auto; /* 가운데 정렬 */
}

.headertitle h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.headertitle p {
    font-size: 18px;
    color: #555;
}
